<h1>#<%= @tag.name %></h1>

<div class="container">
  <div class="row">
    <!--<div class="thumbnails">-->
    <div class="pins-grid">

      <% @grouped_pictures.each do |picture| %>
        <!--
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="<%= picture.url %>">
          </div>
        </div>
        -->

        <div class="pin">
          <div class="image">
            <img data-src="<%= picture.url %>"/>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>

